
/* HEADER  */
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 16px;
}
.headerTop{
  display: flex;
  align-items: center;
}
.logo {
  width: 220px;
  height: 32px;
  cursor: pointer;
  margin-right: 24px;
}
.katalog{
  padding: 8px 12px;
  font-weight: 500;
  color: #7000ff;
  background-color: #eaeaf9;
  border-radius: 5px;
  text-transform: capitalize;
  margin-right: 8px;
}
.katalog:hover{
  background-color: rgb(112, 0, 255, 0.15);
}
.inputWrapper{
  position: relative;
  width: 505px;
  margin-right: 24px;
}
input{
  background: #fff;
  border: 1px solid  #36363633;
  border-radius: 4px;
  box-shadow: 0 0 0 0 #36363633,0 0 0 0 rgb(54, 54, 54, 0.8);
  color: #1f2026;
  font-family: Inter, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  transition: box-shadow .2s ease;
  vertical-align: top;
  width: 100%;
}
.search{
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 219, 219, 0.8);
  cursor: pointer;
}
.search:active{
  opacity: 0.7;
}

.btn{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  height: 100%;
}
.btn:hover{
  background-color: rgba(219, 219, 219, 0.2);
}

/* PRODUCTS  */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 24px;
}


/* PRODUCT CARDS  */
.card {
  border-radius: 8px;
  transition: all 0.25s;
  cursor: pointer;
  max-width: 220px;
  width: 100%;
  color: #1f2026;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 10px 25px -16px rgba(54, 54, 64, 0.25);
}

.card__img {
  position: relative;
  height: 233px;
  overflow: hidden;
}

.card__img img {
  transition: all 0.25s;
}
.card__like__icon {
  position: absolute;
  top: 12px;
  right: 12px;
}
.card:hover .card__img img {
  transform: scale(1.1);
}
.card__title {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__content {
  padding: 10.5px 4px 4px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}
.card__price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card__price span:nth-child(1) {
  color: rgb(139, 142, 153);
  text-decoration: line-through;
  font-size: 10px;
}
.card__price span:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
}

.add__to__cart__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border: 1px solid rgb(31, 32, 38, 0.2);
  border-radius: 50%;
}


.add__to__cart__icon:hover svg {
  background: rgb(31, 32, 38, 0.2);
  border-radius: 50%;
}

.box {
  height: 16px;
  width: 100%;
}
